
    body{
        margin: 0px;
    }

    .catagories {
        width: 70%;
        margin-left: 15%;
        background-color: blueviolet;
        border-radius: 10px;
    }

    a{
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        background-color: gold;
        color: brown;
        width: 50%;
        margin-left: 25%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
        text-align: center;
    }

    a:hover{
        background-color: brown;
        color: white;
    }

    .TopNavigationBar
    {
        height: auto;
        text-align: center;
        background-color: blue;
        margin-top: 0px;
    }

    .grid{
        
    }

    .container{
        width: 75%;
    }

    .images
    {
        width : 100%;
    }
    
    .player{
        width: 100%;
    }

    .Y{
        grid-column: 2/3;
    }

    .Z{
        grid-column: 3/4;
    }

    .gallary{
        display: grid;
        grid-template-columns: 4fr 4fr 4fr 4fr;
        grid-gap: 10px; 
    }
