body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}

#page{
    width: 100%;
    transition: 0.5s;
}

.catagories {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 70%;
    margin-left: 15%;
    background-color: blueviolet;
    border-radius: 10px;
    overflow: hidden;
    float: right;
    margin-right: 15%;
    margin-top: 5%;
    text-align: center;
    transition: 0.5s;
}

.leftNavigationBar{
    float: left;
    width: 0;
    height: 100%;
    background-color: black;
    overflow: hidden;
    position: fixed;
    padding: 0;
    color: white;
    transition: 0.5s;
}

.leftNavigationBar a{
    display: block;
    font-style: none;
    color: white;
    font-size: 200%;
    transition: 0.5s;
}

@media screen and (max-height: 450px) {
    .leftNavigationBar {padding-top: 15px;}
    .leftNavigationBar a {font-size: 18px;}
}

.catagories a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: gold;
    color: brown;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

.catagories a:hover{
    background-color: brown;
    color: white;
}

.TopNavigationBar
{
    width: 100%;
    text-align: center;
    background-color: blue;
    float: right;
}

.container{
    width: 100%;
    float: right;
}

.images
{
    width : 100%;
    border-radius: 10px;
}

.player{
    width: 100%;
}

.Y{
    grid-column: 2/3;
}

.Z{
    grid-column: 3/4;
}

.gallary{
    margin-top: 3%;
    background-color: gainsboro;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    padding: 2%;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-gap: 10px; 
}

.quizContainer{
    background-color: gainsboro;
    width: 80%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 10px;
    float: right;
}

.optionContainer{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
}

.quizOptionImage{
    width: 80%;
    border-radius: 10px;
}

.option{
    width: 25%;
    display: block;
}

.submitButton{
    text-decoration: none;
    color: white;
    background-color: black;
}

.sub{
    margin-top: 4%;
}

.box{
    margin-right: 15%;
    width: 70%;
    background-color: gray;
    padding: 3%;
    border-radius: 10px;
    float: right;
    margin-top: 10%;
}

.namePlate{
    background-color: greenyellow;
    width: 80%;
    margin: 1%;
    margin-left: 10%;
    text-align: center;
    border-radius: 10px;
    display: flex;
}

.profilePicture{
    width: 10%;
    height: 10%;
    border-radius: 100%;
}
