body{
    margin: 0px;
}

*{
    box-sizing: border-box;
}

.catagories {
    width: 70%;
    margin-left: 15%;
    background-color: blueviolet;
    border-radius: 10px;
    overflow: hidden;
    float: right;
    text-align: center;
}

.leftNavigationBar{
    float: left;
    width: 20%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    position: fixed;
    padding: 9% 5%;
}

.leftNavigationBar a{
    display: block;
    font-style: none;
    color: white;
    font-size: 200%;
}

.catagories a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: gold;
    color: brown;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
}

.catagories a:hover{
    background-color: brown;
    color: white;
}

.TopNavigationBar
{
    width: 70%;
    text-align: center;
    background-color: blue;
    float: right;
    
}

.grid{
    
}

.container{
    width: 75%;
    float: right;
}

.images
{
    width : 100%;
}

.player{
    width: 100%;
}

.Y{
    grid-column: 2/3;
}

.Z{
    grid-column: 3/4;
}

.gallary{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-gap: 10px; 
}
